<div class="row">
        <div class="col-10 mx-auto my-5">

            
                <div class="row mb-4 border-top p-3">
                    <a href="/voir-chambres" title="Voir la chambre" class="d-flex text-decoration-none">

                        <div class="col-5">
                            <img src="/uploads/lequatro5-chambre01a-jpg_632181a90c8d7.jpg" alt="test07" idth="120" height="78" class="img-custom"class="img-custom rounded">
                        </div>

                        <div class="col-7 ms-4">
                            <h2 class="text-dark align-middle">Chambre Classique</h2>
                            <p class="text-muted align-middle">Profitez de vos chambres classique le temps d'une nuit poour faire une pause<</p>
                        </div>

                    </a>
                </div>

            
                <div class="row mb-4 border-top p-3">
                    <a href="/voir-chambres" title="Voir la chambre" class="d-flex text-decoration-none">

                        <div class="col-5">
                            <img src="/uploads/lequatro5-chambre01a-jpg_63217eae27f56.jpg" alt="test06" idth="120" height="78" class="img-custom"class="img-custom rounded">
                        </div>

                        <div class="col-7 ms-4">
                            <h2 class="text-dark align-middle">Chambre Confort</h2>
                            <p class="text-muted align-middle">Nos chambres confort sont spécialement conçues pour donner pléinement satifaction.</p>
                        </div>

                    </a>
                </div>

            
                <div class="row mb-4 border-top p-3">
                    <a href="/voir-chambres" title="Voir la chambre" class="d-flex text-decoration-none">

                        <div class="col-5">
                            <img src="/uploads/lequatro5-chambre01c-jpg_6320fb69441b8.jpg" alt="test05" idth="120" height="78" class="img-custom"class="img-custom rounded">
                        </div>

                        <div class="col-7 ms-4">
                            <h2 class="text-dark align-middle">Chambre Suite</h2>
                            <p class="text-muted align-middle">Nos suites sont à la fois spacieuse et lumineuse.</p>
                        </div>

                    </a>
                </div>