<footer class="mt-4 pt-4 bg-dark">
	<div class="container border-top">
		<div class="row">
			<div class="col-12 col-md">
				<h4 class="text-center text-light">Le Quattro</h5>
			</div>

			<div class="col-3 col-md">
				<h5 class="text-light">A propos</h5>

				<ul class="list-unstyled text-light">
					<li>
						<a href="#" class="text-light">Mentions légales</a>
					</li>
					<li>
						<a href="#" class="text-light">Politique de confidentialité</a>
					</li>
					<li>
						<a href="#" class="text-light">Contact</a>
					</li>

				</ul>
			</div>
			<div class="col-3 col-md">
				<h5 class="text-light">Réservations</h5>

				<ul class="list-unstyled text-light">
					<li>
						<a href="#" class="text-light">Trouver une réservation</a>
					</li>
					<li>
						<a href="#" class="text-light">Réunions et événements</a>
					</li>
					<li>
						<a href="#" class="text-light">Cartes cadeaux</a>
					</li>

				</ul>
			</div>
			<div class="col-3 col-md">
				<h5 class="text-light">Actualités</h5>

				<ul class="list-unstyled text-light">
					<li>
						<a href="#" class="text-light">Dossier de presse</a>
					</li>
					<li>
						<a href="#" class="text-light">Magazine Le Quattro</a>
					</li>
					<li>
						<a href="#" class="text-light">Contact</a>
					</li>

				</ul>
			</div>
			<div class="col-3 col-md">
				<h5 class="text-light">Plus</h5>
				<ul class="list-unstyled text-light">
					<li>
						<a href="#" class="text-light">Carrières</a>
					</li>

					<li>
						<a href="#" class="text-light">Contact</a>
					</li>
					<li>
						<a href="#" class="text-light">Staff</a>
					</li>
				</ul>

			</div>
		</div>
	</div>
	<div class="container-fluid bg-dark row justify-content-around">
		<div class="col-6 text-center">
			<p class="text-white">&copy; Le Quattro
				{{ 'now' | date('Y') }}</p>
		</div>
		<div class="col-6 float-right text-center">
			<i class="fa-brands fa-facebook text-light mx-3"></i>
			<i class="fa-brands fa-twitter text-light mx-3"></i>
			<i class="fa-brands fa-instagram text-light mx-3"></i>
			<i class="fa-brands fa-youtube text-light mx-3"></i>
		</div>
	</div>
</footer>
