{% extends "base.html.twig" %}

{% block title %}Le Quattro
{% endblock %}

{% block body %}

	<div class="row">
		<div class="col-6 mx-auto">
			{% include 'include/_flashes.html.twig' %}
		</div>
	</div>

	<div
		class="container marketing">

		<!-- Three columns of text below the carousel -->
		<div class="row">
			<div class="col-lg-4">
				<svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveaspectratio="xMidYMid slice" focusable="false">
					<title>Placeholder</title>
					<rect width="100%" height="100%" fill="#777"></rect>
					<text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
				</svg>

				<h2 class="fw-normal">Restaurant</h2>
				<p>Le Chef François de la Cuillère et ses équipes vous accueillent dans les restaurants de l'hôtel Quattro pour un grand voyage culinaire.</p>
				<p>
					<a class="btn btn-dark" href="#">View details »</a>
				</p>
			</div>
			<!-- /.col-lg-4 -->
			<div class="col-lg-4">
				<svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveaspectratio="xMidYMid slice" focusable="false">
					<title>Placeholder</title>
					<rect width="100%" height="100%" fill="#777"></rect>
					<text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
				</svg>

				<h2 class="fw-normal">Spa</h2>
				<p>Relaxez-vous dans la piscine intérieure, ressourcez-vous dans les bains bouillonnants et profitez de la chaleur du côté du hammam.</p>
				<p>
					<a class="btn btn-dark" href="#">View details »</a>
				</p>
			</div>
			<!-- /.col-lg-4 -->
			<div class="col-lg-4">
				<svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveaspectratio="xMidYMid slice" focusable="false">
					<title>Placeholder</title>
					<rect width="100%" height="100%" fill="#777"></rect>
					<text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
				</svg>

				<h2 class="fw-normal">Chambre</h2>
				<p>Découvrez nos chambres simples, comfort et nos suites d'exception pour une nuit ou plus.</p> <br>
				<p>
					<a class="btn btn-dark" href="#">View details »</a>
				</p>
			</div>
			<!-- /.col-lg-4 -->
		</div>
		<!-- /.row -->

	</div>

{% endblock %}
