{% extends 'base.html.twig' %}

{% block title %}HOTEL{% endblock %}


{% block body %}

   
<div class="card mb-3">

  <img src="uploads\walkway-g7e1e11cb4_640.jpg" class="card-img-top" alt="...">
  
</div>

<div class="row">
  <div class="col-sm-4">
    <div class="card">
    <img src="uploads\hotel-g91f717656_640.jpg" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">Les chambres</h5>
        <p class="card-text">Venez découvrir nos différentes propositions, il y en a pour tous les goûts.</p>
        <a href="#" class="btn btn-dark">En savoir plus</a>
        </div>
    </div>    
  </div>
  <div class="col-sm-4">
    <div class="card">
    <img src="uploads\restaurant-g5fd1e6939_640.jpg" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">Le restaurant</h5>
        <p class="card-text">Pour égayer vos papilles, laissez-vous tenter par notre cuisine hors-paire.</p>
        <a href="#" class="btn btn-dark">En savoir plus</a>
        </div>
    </div>    
  </div>
  <div class="col-sm-4">
    <div class="card">
    <img src="\uploads\massage-g9db8872dd_640.jpg" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">Spa & bien être </h5>
        <p class="card-text">Pour un momment de détente afin de décompresser et évacuer le stress de la journée.</p>
        <a href="#" class="btn btn-dark">En savoir plus</a>
        </div>
    </div>    
  </div>
</div>

        <div class="row col-8 border border-dark mx-auto my-3 p-2">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2624.6400071672683!2d2.2998897155226983!3d48.86507470819019!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66fdd0dd39a4d%3A0x508194b82b12f012!2s1%20Av.%20Montaigne%2C%2075008%20Paris!5e0!3m2!1sfr!2sfr!4v1663329869154!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

		</div>


{% endblock %}

