{% extends 'base.html.twig' %}

{% block title %}HOTEL{% endblock %}


{% block body %}

   
<div class="card mb-3">

  <img src="uploads\walkway-g7e1e11cb4_640.jpg" class="card-img-top" alt="...">
  
</div>

<div class="row">
  <div class="col-sm-4">
    <div class="card">
    <img src="uploads\hotel-g91f717656_640.jpg" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">Les chambres</h5>
        <p class="card-text">Venez découvrir nos différentes propositions, il y en a pour tous les goûts.</p>
        <a href="#" class="btn btn-dark">En savoir plus</a>
        </div>
    </div>    
  </div>
  <div class="col-sm-4">
    <div class="card">
    <img src="uploads\restaurant-g5fd1e6939_640.jpg" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">Le restaurant</h5>
        <p class="card-text">Pour égayer vos papilles, laissez-vous tenter par notre cuisine hors-paire.</p>
        <a href="#" class="btn btn-dark">En savoir plus</a>
        </div>
    </div>    
  </div>
  <div class="col-sm-4">
    <div class="card">
    <img src="\uploads\massage-g9db8872dd_640.jpg" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">Spa & bien être </h5>
        <p class="card-text">Pour un momment de détente afin de décompresser et évacuer le stress de la journée.</p>
        <a href="#" class="btn btn-dark">En savoir plus</a>
        </div>
    </div>    
  </div>
</div>


{% endblock %}

