{% extends "base.html.twig" %}

{% block title %}Modifier un membre
{% endblock %}

{% block body %}
	
	<h1 class="text-center my-3">Modifier le rôle de {{ membre.email }}</h1>


	<div class="row">
		<div class=" col-6 mx-auto my-3">
			{{ form_start(form) }}


			{{ form_end(form) }}

		</div>

	</div>

{% endblock %}
