{% extends 'base.html.twig' %}

{% block title %}Modifier slider
{% endblock %}

{% block body %}

	<h1 class="text-center my-3">Modifier le carrousel</h1>

	<div class="row">
		<div class="col-10 mx-auto">

			{{ form_start(form) }}


			{{ form_end(form) }}

		</div>
	</div>

{% endblock %}
