{% extends 'base.html.twig' %}
			
{% block title %}Les Restaurants
{% endblock %}


{% block body %}

<h1 class="text-center my-3" font-family: "Edwardian Script ITC" font=bold  >Les RESTAURANTS</h1>

    <div class="row">
        <div class="col-20 mx-auto my-6">
            {% include 'include/_flashes.html.twig' %}
        </div>
    </div>

<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>  
  
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="uploads/Background QF 517-5184x3456.jpg" display=flex height=600px width=700px alt="..." class="d-block w-100" display=flex>
      <div class="carousel-caption d-none d-md-block">
      <h5>Le TREFLE A QUATRE FEUILLES</h5>
        <p>La brasserie du Quattro pour votre déjeuner.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src=" uploads\Background QQ 102-4320x3240.jpg" display=flex height=600px width=700px alt="..." class="d-block w-100">
      <div class="carousel-caption d-none d-md-block">
        <h5>Le QUATRE QUART</h5>
        <p>La place pour l'Afternoon Tea.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="uploads\Background QS 292-3852x2556.jpg" display=flex height=600px width=700px alt="..." class="d-block w-100">
      <div class="carousel-caption d-none d-md-block">
        <h5>Aux QUATRE SAISONS</h5>
        <p>Le restaurant gastronomique du Quattro.</p>
      </div>
    </div>
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<p>
<div>
<img src="\uploads\experienced-head-chef-posing-proudly-modern-kitchen-his-team-background-84975264.jpg" display=left height=300px width=300px class="img-thumbnail" alt="...">

Le Chef François de la Cuillère et ses équipes vous accueillent dans les restaurants du QUATTRO pour un grand voyage culinaire.
</div>
</p>
<p>
Voici les cartes de nos restaurants:
</p>
<ul>


<button type="button" class="btn btn-primary"
.btn-bd-primary {
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-blue);
  --bs-btn-border-color: var(--bd-blue);
  --bs-btn-border-radius: .5rem;
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #{shade-color($bd-blue, 10%)};
  --bs-btn-hover-border-color: #{shade-color($bd-blue, 10%)};
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #{shade-color($bd-blue, 20%)};
  --bs-btn-active-border-color: #{shade-color($bd-blue, 20%)};
}
>Le Trèfle à quatre feuilles</button>

<button type="button" class="btn btn-primary"
.btn-bd-primary {
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-blue);
  --bs-btn-border-color: var(--bd-blue);
  --bs-btn-border-radius: .5rem;
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #{shade-color($bd-blue, 10%)};
  --bs-btn-hover-border-color: #{shade-color($bd-blue, 10%)};
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #{shade-color($bd-blue, 20%)};
  --bs-btn-active-border-color: #{shade-color($bd-blue, 20%)};
}
>Le Quatre Quart</button>

<button type="button" class="btn btn-primary"
.btn-bd-primary {
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-blue);
  --bs-btn-border-color: var(--bd-blue);
  --bs-btn-border-radius: .5rem;
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #{shade-color($bd-blue, 10%)};
  --bs-btn-hover-border-color: #{shade-color($bd-blue, 10%)};
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #{shade-color($bd-blue, 20%)};
  --bs-btn-active-border-color: #{shade-color($bd-blue, 20%)};
}
>Aux Quatre Saisons</button>




</ul>

{% endblock %}
