{% extends 'base.html.twig' %}

{% block title %}SPA
{% endblock %}


{% block body %}

	<h1 class="text-center my-3">Pour vous relaxer</h1>

	<div class="row">
		<div class="col-10 mx-auto my-4">
			{% include 'include/_flashes.html.twig' %}
		</div>
	</div>

	<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
		<div class="carousel-indicators">
			<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
			<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
			<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
		</div>
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img src="uploads\people-g3653457ea_640.jpg" class="d-block w-100" alt="...">
				<div class="carousel-caption d-none d-md-block">
					<h5>Massage</h5>
					<p>Venez découvrir la magie des pierres</p>
				</div>
			</div>
			<div class="carousel-item">
				<img src="uploads\woman-g46ca32deb_640.jpg" class="d-block w-100" alt="...">
				<div class="carousel-caption d-none d-md-block">
					<h5>Transpiration</h5>
					<p>Un moment de tranquilité dans notre sauna</p>
				</div>
			</div>
			<div class="carousel-item">
				<img src="uploads\woman-relaxing-in-whirlpool.jpg" class="d-block w-100" alt="...">
				<div class="carousel-caption d-none d-md-block">
					<h5>Des bulles</h5>
					<p>Entrez en communion avec les vibrations de l'eau</p>
				</div>
			</div>
		</div>
		<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>
	</div>

	<section class="intro my-5">

		<div class="card w-100 bg-dark">
			<div class="card-body">
				<p class="card-text text-light p-5">Dans une atmosphère des plus calmes, notre centre de détente est situé au sous-sol de l'hotel. Relaxez-vous dans nos salles de massage, ressourcez-vous dans les bains bouillonnants et profitez de la chaleur du côté du sauna. Le spa dispose également d’une boutique où prolonger les bienfaits de vos soins…</p>
			</div>
		</div>

	</section>

	<div class="row">
		<div class="col-sm-4">
			<div class="card bg-dark">
				<div class="card-body text-light text-center">
					<h5 class="card-title">Massage</h5>
					<p class="card-text">Le massage pierre chaude est un massage traditionnel réalisé à l'aide de pierres volcaniques lisses, plates et chauffées qui conservent durablement la chaleur. Pour un massage aux pierres chaudes, les praticiens utilisent des galets de basalte.</p>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="card bg-dark">
				<div class="card-body text-light text-center">
					<h5 class="card-title">Sauna</h5>
					<p class="card-text">Nos cabines sont èquipées de sièges en gradins tout en bois. La lumière y est très tamisée, des pierres volcaniques sont chauffées dans une poêle et on y verse de temps en temps de l'eau pour augmenter la chaleur afin d'éliminer vos toxines.</p>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="card bg-dark">
				<div class="card-body text-light text-center">
					<h5 class="card-title">Bain bouillonnant</h5>
					<p class="card-text">Il s'agit d'une baignoire remplie d'eau de mer, et dont la température avoisine celle du corps, soit entre 34 et 37°C. Cette baignoire est équipée de jets d'eau sous pression générant des bulles de gaz bouillonnant, qui donnent cet effet massant.</p>
				</div>
			</div>
		</div>
	</div>


{% endblock %}
