  {% extends 'base.html.twig' %}   
 {% block title %}Créer ou modifier une commandee{% endblock %} 

{% block body %}



	<div class="row">
		<div class="col-10 mx-auto">

  <h2 class="col-10 mx-auto">Passer une commande</h2>


			{{ form_start(form) }}
    


			{{ form_end(form) }}   

		</div>
	</div>



{% endblock %}