{% extends "base.html.twig" %}

{% block title %}Chambres{% endblock %}

{% block body %}

    <h1 class="text-center my-3">Nos Chambres</h1>




{# {{ render(url('create_chambre')) }} #}

{% endblock %}