{% extends "base.html.twig" %}

	{% block title %}Catégorie {{ category.name }}{% endblock %}

{% block body %}

    <h1 class="text-center my-3">Réserver un chambre</h1>

          
    


{% endblock %}