{% extends "base.html.twig" %}

{% block title %}Chambres{% endblock %}

{% block body %}

    <h1 class="text-center my-3">Nos Chambres</h1>


{% include 'admin/back_office_chambre.html.twig' %}

{# {{ render(url('create_chambre')) }} #}

{% endblock %}